<nav>
    <div class="circle-animation"></div>
    <span class="font1">Animaciones</span>
    <span class="font2">by</span>
    <span class="font3">Aude</span>
    <span class="font4">Systems</span>
</nav>
<main>
    <div class="container-top">
        <div class="card1 card">
            <span class="title">Rotate</span>
            <div class="square"></div>
        </div>
        <div class="card2 card">
            <span class="title">Scale</span>
            <div class="square"></div>
        </div>
        <div class="card3 card">
            <span class="title">Both</span>
            <div class="square"></div>
        </div>
    </div>
</main>